/* Estilos do menu inicial */
.start-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgba(7, 17, 74, 0.7), rgba(21, 62, 109, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000; /* Garante que o menu inicial fique acima de tudo */
    font-family: Arial, sans-serif;
    text-align: center;
}

.menu-title {
    font-size: 4vw; /* Tamanho dinâmico */
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.menu-description {
    font-size: 1.5vw;
    margin: 1vh 0 3vh 0;
    max-width: 60%;
    line-height: 1.5;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5vh; /* Espaço entre os botões */
}

.start-button, .info-button {
    background: #5cbdff;
    border: none;
    color: white;
    font-size: 1.5vw;
    padding: 1.2vh 2.5vw;
    border-radius: 0.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

.start-button:hover, .info-button:hover {
    background: #489bd3;
    transform: scale(1.05);
}

.start-button:active {
    background: #317aa4;
    transform: scale(0.98);
}

.info-button:active{
    background: #cb8400;
    transform: scale(0.98);
}

.info-button {
    background: #ffa500; /* Botão laranja para instruções */
}

.info-button:hover {
    background: #e69500;
}


/* Estilos gerais */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color: rgba(11, 25, 106, 0.844);
    font-size: 1vw;
    overflow: hidden; /* Evitar barras de rolagem durante a animação */
}

/* Estilo do Canvas */
canvas {
    cursor: pointer;
    width: 75vw;
    height: calc(75vw * 0.5664);
    position: relative;
    z-index: 10;
    transition: width 0.3s, height 0.3s; /* Transição suave para ajuste de tamanho */
}

/* Estilos do menu deslizante */
#slideMenu {
    position: fixed;
    top: 0;
    left: -25vw; /* O menu começa fora da tela */
    width: 25vw; /* O menu terá 20% da largura da tela */
    height: 100%;
    background-color: rgba(0 0 0 / 60%);
    transition: left 0.5s ease;
    padding: 0 1.5vw 1.5vh 1.5vw;
    box-sizing: border-box;
    z-index: 100;
}

#slideMenu.active {
    left: 0; /* Quando ativo, o menu se desliza para dentro */
}

/* Estilo do botão de fechar no menu */
#closeButton {
    display: none; /* Ocultar o botão de fechar por padrão */
    position: absolute;
    top: 1vh;
    right: 0.4vw;
    background: none;
    border: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    padding-right: 0.5vw;
}

#slideMenu.active #closeButton {
    display: block; /* Exibir o botão de fechar quando o menu está ativo */
}

#closeButton:hover {
    color: #dd3131;
}

.menu-button {
    position: fixed;
    top: 1vh;
    left: 0.5vw;
    z-index: 101;
    transition: opacity 0.5s ease; /* Aumentado o tempo da transição para 0.5s para o aparecimento */
    opacity: 1;
}

/* Estilo do botão do menu */
.menu-button button {
    background-color: #333; /* Cor de fundo original */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 1vw; /* Espaçamento interno */
    font-size: 1vw; /* Tamanho da fonte */
    border-radius: 0.5vw; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

/* Hover no botão do menu */
.menu-button button:hover {
    background-color: #555; /* Cor mais clara ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Clique no botão do menu */
.menu-button button:active {
    background-color: #222; /* Cor mais escura ao pressionar */
    transform: scale(0.98); /* Leve redução ao clicar */
}


.menu-button.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease; /* Desaparecimento mais rápido */
}

.menu-button.show {
    opacity: 1;
    transition: opacity 0.5s ease; /* Aparecimento mais lento, em 0.5s */
}

/* Estilos do console no menu */
#console, #settings {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1vw;
    user-select: none;
}

#consoleTitle, #probabilitiesTitle, #timeSettingsTitle, #planesTitle{
    font-size: 1.4vw;
    margin: 1.5vh 0 1vh 0;
    font-weight:800;
}

#console div, #settings div {
    margin-bottom: 1.2vh;
}

input[type="range"] {
    width: 80%; /* Ajuste dinâmico do tamanho */
    margin-top: 1.8vh;
    margin-bottom: 1vh; /* Adiciona uma margem superior para os inputs */
    -webkit-appearance: none;
    appearance: none;
    height: 0.4vh; /* Ajuste a espessura do slider */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.5vw;
    transition: width 0.3s ease; /* Transição suave */
}

/* Estilo para a bolinha do input (slider) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8vw; /* Tamanho fixo da bolinha */
    height: 0.8vw;
    background: #d7d7d7;
    border-radius: 1vw;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Estilo do temporizador */
#timer {
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vh;
    border-radius: 0.5vw;
    z-index: 10;
    font-weight: bold;
    font-size: 1vw;
    user-select: none;
    transition: all 0.3s ease-in-out; /* Transição suave em hover */
}

#timer:hover {
    transform: scale(1.04); /* Efeito de zoom ao passar o mouse */
}

/* Estilo para os botões de controle de tempo (ficando abaixo da data) */
#menuTimer {
    position: absolute;
    top: 8.5vh; /* Coloca os botões logo abaixo da data */
    right: 0.5vw;
    display: flex;
    justify-content: space-between; /* Alinha os botões na horizontal */
    width: 9.4vw; /* Ajusta a largura para os botões ficarem com o mesmo comprimento da data */
    gap: 0.3vw; /* Espaçamento entre os botões */
    z-index: 10;
}

/* Estilo dos botões */
/* Estilo dos botões do timer */
#menuTimer button {
    background-color: #5cbdff; /* Azul claro */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 0.3vw 0.2vh; /* Reduzido para tornar os botões mais compactos */
    font-size: 0.8vw; /* Font size reduzido */
    border-radius: 0.5vw; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    display: flex; /* Alinhamento central do conteúdo */
    justify-content: center;
    align-items: center;
    width: 50%; /* Faz com que o botão tenha uma largura ajustada */
    flex: 1; /* Todos os botões ocupam o mesmo espaço */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

/* Hover no botão do timer */
#menuTimer button:hover {
    background-color: #489bd3; /* Azul mais escuro */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Clique no botão do timer */
#menuTimer button:active {
    background-color: #317aa4; /* Azul ainda mais escuro */
    transform: scale(0.98); /* Leve redução ao pressionar */
}

/* Botão desabilitado */
#menuTimer button:disabled {
    background-color: #45577c; /* Cinza escuro para botões desativados */
    cursor: default;
    transform: none; /* Remover animação ao pressionar */
}

/* Container para os botões */
#airportControls {
    display: flex;
    justify-content: space-between; /* Espaço uniforme entre os botões */
    align-items: center;
    width: 100%; /* O container ocupa toda a largura disponível */
    margin-top: 3vh; /* Margem superior para separação */
    gap: 0.5vw; /* Espaço entre os botões */
}

/* Estilo do botão de adicionar aeroporto */
.add-airport-button {
    background-color: #4CAF50; /* Cor verde */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 1vh; /* Padding ajustado */
    font-size: 1vw; /* Tamanho da fonte */
    border-radius: 0.5vw; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    flex: 1; /* Os botões ocupam o mesmo espaço */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

/* Hover no botão de adicionar aeroporto */
.add-airport-button:hover {
    background-color: #45A049; /* Verde mais escuro */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Clique no botão de adicionar aeroporto */
.add-airport-button:active {
    background-color: #388E3C; /* Verde mais escuro ao pressionar */
    transform: scale(0.98); /* Leve redução ao pressionar */
}

/* Estilo do botão de remover aeroporto */
.remove-airport-button {
    background-color: #147fff; /* Cor vermelha */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 1vh; /* Padding ajustado */
    font-size: 1vw; /* Tamanho da fonte */
    border-radius: 0.5vw; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    flex: 1; /* Os botões ocupam o mesmo espaço */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

/* Hover no botão de remover aeroporto */
.remove-airport-button:hover {
    background-color: #136ddb; /* Vermelho mais escuro */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Clique no botão de remover aeroporto */
.remove-airport-button:active {
    background-color: #1658aa; /* Vermelho ainda mais escuro */
    transform: scale(0.98); /* Leve redução ao pressionar */
}

/* Estilo para o botão de reset */
.reset-button {
    background-color: #ff8e07; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 1.5vh; /* Ajusta o espaçamento interno com unidades de viewport */
    font-size: 1vw; /* Tamanho da fonte ajustado com vw */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    border-radius: 1vh; /* Bordas arredondadas, ajustadas com vh */
    position: absolute; /* Posiciona o botão em um lugar fixo */
    bottom: 2vh; /* 2vh do fundo */
    left: 1.5vw; /* Considerando o padding do menu */
    right: 1.5vw; /* Considerando o padding do menu */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

.reset-button:hover {
    background-color: #e27c00; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho ao passar o mouse */
}

/* Efeito de click para o botão de reset */
.reset-button:active {
    background-color: #d36b0a; /* Cor mais escura quando pressionado */
    transform: scale(0.98); /* Leve redução ao clicar */
}


#legend {
    position: absolute;
    bottom: 2vh; /* Espaçamento do fundo */
    right: 1vw; /* Espaçamento da direita */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo mais escuro e suave */
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 1vw 1.5vw; /* Ajuste no espaçamento interno */
    border-radius: 1vw; /* Bordas mais arredondadas */
    font-size: 1vw; /* Tamanho de fonte ligeiramente maior */
    z-index: 10; /* Certifique-se de que fique acima de outros elementos */
    max-width: 20vw; /* Aumenta a largura máxima */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden; /* Garante que o conteúdo extra não ultrapasse o limite */
    transition: all 0.3s ease-in-out; /* Transição suave em hover */
    user-select: none;
}

#legend:hover {
    transform: scale(1.04); /* Efeito de zoom ao passar o mouse */
}

#legend h3 {
    font-size: 1.2vw; /* Tamanho do título ajustado */
    margin: 0;
    margin-top: 1vh;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.legend-section {
    width: 100%;
    margin-bottom: 1vh; /* Espaçamento maior entre as seções */
}

.legend-section h4 {
    font-size: 1.1vw;
    margin-bottom: 0.8vh;
    text-align: left; /* Alinha os títulos à esquerda para consistência */
    font-weight: normal;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh; /* Mais espaço entre os itens */
    font-size: 0.9vw;
}

.legend-item:last-child {
    margin-bottom: 0; /* Remove margem no último item */
}

.legend-color {
    width: 1vw; /* Aumenta o tamanho dos círculos */
    height: 1vw;
    border-radius: 50%;
    margin-right: 0.8vw; /* Espaço maior entre a cor e o texto */
    flex-shrink: 0;
}

.legend-item span {
    font-size: 0.9vw; /* Ajusta o tamanho do texto */
    line-height: 1.2; /* Melhor legibilidade */
    color: white;
}

/* Estilo do popup de notificação */
#notification {
    position: fixed;
    top: 2vh; /* Mantém o popup no topo, 2% da altura da tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para o centro */
    background-color: rgba(255, 51, 51, 0.95); /* Fundo vermelho */
    color: white;
    padding: 2vh; /* Espaçamento interno maior baseado na altura da tela */
    border-radius: 1vh; /* Bordas arredondadas em vh para garantir proporcionalidade */
    font-size: 1vw; /* Tamanho do texto baseado na largura da tela */
    font-family: Arial, sans-serif;
    text-align: center; /* Centraliza o texto dentro do popup */
    opacity: 0; /* Inicialmente invisível */
    z-index: 9999;
    width: 20vw; /* Largura do popup com base na largura da tela */
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.2); /* Sombra suave proporcional à altura */
    display: flex; /* Ativa flexbox para centralizar conteúdo */
    align-items: center; /* Centraliza verticalmente o texto */
    justify-content: center; /* Centraliza horizontalmente o texto */
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Controla a visibilidade e opacidade com animação */
}

/* Animação para mostrar */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, 5vh); /* Desloca ligeiramente para cima no início */
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0); /* Retorna suavemente ao topo */
    }
}

/* Animação para esconder */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, 0); /* Posição inicial centralizada */
    }
    to {
        opacity: 0;
        transform: translate(-50%, -5vh); /* Desloca para cima ao desaparecer */
    }
}

/* Estilo para a animação de fade-in e fade-out */
.fade-in {
    animation: fadeIn 0.3s ease forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease forwards;
}
