/* Estilos gerais */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color: rgba(11, 25, 106, 0.844);
    font-size: 1vw;
    overflow: hidden; /* Evitar barras de rolagem durante a animação */
}

/* Estilo do Canvas */
canvas {
    cursor: pointer;
    width: 75vw;
    height: calc(75vw * 0.5664);
    position: relative;
    z-index: 10;
    transition: width 0.3s, height 0.3s; /* Transição suave para ajuste de tamanho */
}

/* Estilos do menu deslizante */
#slideMenu {
    position: fixed;
    top: 0;
    left: -25vw; /* O menu começa fora da tela */
    width: 25vw; /* O menu terá 20% da largura da tela */
    height: 100%;
    background-color: rgba(0 0 0 / 60%);
    transition: left 0.5s ease;
    padding: 0 1.5vw 1.5vh 1.5vw;
    box-sizing: border-box;
    z-index: 100;
}

#slideMenu.active {
    left: 0; /* Quando ativo, o menu se desliza para dentro */
}

/* Estilo do botão de fechar no menu */
#closeButton {
    display: none; /* Ocultar o botão de fechar por padrão */
    position: absolute;
    top: 1vh;
    right: 0.4vw;
    background: none;
    border: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    padding-right: 0.5vw;
}

#slideMenu.active #closeButton {
    display: block; /* Exibir o botão de fechar quando o menu está ativo */
}

#closeButton:hover {
    color: #dd3131;
}

.menu-button {
    position: fixed;
    top: 1vh;
    left: 0.5vw;
    z-index: 101;
    transition: opacity 0.5s ease; /* Aumentado o tempo da transição para 0.5s para o aparecimento */
    opacity: 1;
}

/* Estilo do botão do menu */
.menu-button button {
    background-color: #333; /* Cor de fundo original */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 1vw; /* Espaçamento interno */
    font-size: 1vw; /* Tamanho da fonte */
    border-radius: 0.5vw; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

/* Hover no botão do menu */
.menu-button button:hover {
    background-color: #555; /* Cor mais clara ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Clique no botão do menu */
.menu-button button:active {
    background-color: #222; /* Cor mais escura ao pressionar */
    transform: scale(0.98); /* Leve redução ao clicar */
}


.menu-button.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease; /* Desaparecimento mais rápido */
}

.menu-button.show {
    opacity: 1;
    transition: opacity 0.5s ease; /* Aparecimento mais lento, em 0.5s */
}

/* Estilos do console no menu */
#console, #settings {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1vw;
    user-select: none;
}

#consoleTitle, #probabilitiesTitle, #timeSettingsTitle, #planesTitle{
    font-size: 1.4vw;
    margin: 1.5vh 0 1vh 0;
    font-weight:800;
}

#console div, #settings div {
    margin-bottom: 1.2vh;
}

input[type="range"] {
    width: 80%; /* Ajuste dinâmico do tamanho */
    margin-top: 1.8vh;
    margin-bottom: 1vh; /* Adiciona uma margem superior para os inputs */
    -webkit-appearance: none;
    appearance: none;
    height: 0.4vh; /* Ajuste a espessura do slider */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.5vw;
    transition: width 0.3s ease; /* Transição suave */
}

/* Estilo para a bolinha do input (slider) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8vw; /* Tamanho fixo da bolinha */
    height: 0.8vw;
    background: #d7d7d7;
    border-radius: 1vw;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Estilo do temporizador */
#timer {
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vh;
    border-radius: 0.5vw;
    z-index: 10;
    font-weight: bold;
    font-size: 1vw;
    user-select: none;
}

/* Estilo para os botões de controle de tempo (ficando abaixo da data) */
#menuTimer {
    position: absolute;
    top: 8.5vh; /* Coloca os botões logo abaixo da data */
    right: 0.5vw;
    display: flex;
    justify-content: space-between; /* Alinha os botões na horizontal */
    width: 9.4vw; /* Ajusta a largura para os botões ficarem com o mesmo comprimento da data */
    gap: 0.3vw; /* Espaçamento entre os botões */
    z-index: 10;
}

/* Estilo dos botões */
/* Estilo dos botões do timer */
#menuTimer button {
    background-color: #5cbdff; /* Azul claro */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 0.3vw 0.2vh; /* Reduzido para tornar os botões mais compactos */
    font-size: 0.8vw; /* Font size reduzido */
    border-radius: 0.5vw; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    display: flex; /* Alinhamento central do conteúdo */
    justify-content: center;
    align-items: center;
    width: 50%; /* Faz com que o botão tenha uma largura ajustada */
    flex: 1; /* Todos os botões ocupam o mesmo espaço */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

/* Hover no botão do timer */
#menuTimer button:hover {
    background-color: #489bd3; /* Azul mais escuro */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Clique no botão do timer */
#menuTimer button:active {
    background-color: #317aa4; /* Azul ainda mais escuro */
    transform: scale(0.98); /* Leve redução ao pressionar */
}

/* Botão desabilitado */
#menuTimer button:disabled {
    background-color: #45577c; /* Cinza escuro para botões desativados */
    cursor: default;
    transform: none; /* Remover animação ao pressionar */
}

/* Container para os botões */
#airportControls {
    display: flex;
    justify-content: space-between; /* Espaço uniforme entre os botões */
    align-items: center;
    width: 100%; /* O container ocupa toda a largura disponível */
    margin-top: 3vh; /* Margem superior para separação */
    gap: 0.5vw; /* Espaço entre os botões */
}

/* Estilo do botão de adicionar aeroporto */
.add-airport-button {
    background-color: #4CAF50; /* Cor verde */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 1vh; /* Padding ajustado */
    font-size: 1vw; /* Tamanho da fonte */
    border-radius: 0.5vw; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    flex: 1; /* Os botões ocupam o mesmo espaço */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

/* Hover no botão de adicionar aeroporto */
.add-airport-button:hover {
    background-color: #45A049; /* Verde mais escuro */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Clique no botão de adicionar aeroporto */
.add-airport-button:active {
    background-color: #388E3C; /* Verde mais escuro ao pressionar */
    transform: scale(0.98); /* Leve redução ao pressionar */
}

/* Estilo do botão de remover aeroporto */
.remove-airport-button {
    background-color: #147fff; /* Cor vermelha */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 1vh; /* Padding ajustado */
    font-size: 1vw; /* Tamanho da fonte */
    border-radius: 0.5vw; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    flex: 1; /* Os botões ocupam o mesmo espaço */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

/* Hover no botão de remover aeroporto */
.remove-airport-button:hover {
    background-color: #136ddb; /* Vermelho mais escuro */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Clique no botão de remover aeroporto */
.remove-airport-button:active {
    background-color: #1658aa; /* Vermelho ainda mais escuro */
    transform: scale(0.98); /* Leve redução ao pressionar */
}

/* Estilo para o botão de reset */
.reset-button {
    background-color: #ff8e07; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 1.5vh; /* Ajusta o espaçamento interno com unidades de viewport */
    font-size: 1vw; /* Tamanho da fonte ajustado com vw */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    border-radius: 1vh; /* Bordas arredondadas, ajustadas com vh */
    position: absolute; /* Posiciona o botão em um lugar fixo */
    bottom: 2vh; /* 2vh do fundo */
    left: 1.5vw; /* Considerando o padding do menu */
    right: 1.5vw; /* Considerando o padding do menu */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
}

.reset-button:hover {
    background-color: #e27c00; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho ao passar o mouse */
}

/* Efeito de click para o botão de reset */
.reset-button:active {
    background-color: #d36b0a; /* Cor mais escura quando pressionado */
    transform: scale(0.98); /* Leve redução ao clicar */
}

/* Estilo da legenda */
#legend {
    position: absolute;
    bottom: 2vh; /* Espaçamento do fundo */
    right: 1vw; /* Espaçamento da direita */
    background-color: rgba(0, 0, 0, 0.603); /* Fundo semitransparente */
    color: white;
    font-family: Arial, sans-serif;
    padding: 1vw; /* Espaçamento interno */
    border-radius: 0.5vw; /* Bordas arredondadas */
    font-size: 1vw; /* Tamanho do texto */
    z-index: 10; /* Certifique-se de que fique acima de outros elementos */
    max-width: 15vw;
    box-sizing: border-box;
}

/* Título da legenda */
#legend h3 {
    font-size: 1.2vw;
    margin-bottom: 1vh; /* Espaçamento inferior do título */
    margin-top: 0;
    text-align: center; /* Centraliza o texto */
}

/* Item da legenda */
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh; /* Espaçamento entre os itens */
}

/* Cor da legenda */
.legend-color {
    width: 1vw; /* Tamanho da cor */
    height: 1vw;
    border-radius: 50%; /* Faz o elemento ficar redondo */
    margin-right: 0.5vw; /* Espaçamento entre o círculo e o texto */
    flex-shrink: 0; /* Garante que o círculo não se deforme */
}